In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression

import pandas as pd
import numpy as np

pd_data = pd.read_csv('전국주차장정보표준데이터.csv', encoding='cp949')
pd_data = pd_data[['주차장구분','주차장유형','급지구분','요금정보', '부제시행구분','운영요일','주차구획수','위도','경도']]

In [27]:
for n in pd_data.columns[:6]:
    labels = np.sort(pd_data[n].unique())
    mytype = pd.api.types.CategoricalDtype(categories=labels)
    pd_data[n] = pd_data[n].astype(mytype).cat.codes
    print(n, labels)

주차장구분 ['공영' '민영']
주차장유형 ['노상' '노외' '부설']
급지구분 ['1' '2' '3' '4' '5' '기타']
요금정보 ['무료' '유료' '혼합']
부제시행구분 ['10부제' '2부제' '5부제' '미시행' '요일제']
운영요일 ['공휴일' '토요일+공휴일' '평일' '평일+공휴일' '평일+토요일' '평일+토요일+공휴일']

In [28]:
X = pd_data[['주차장구분','주차장유형','급지구분']].values    # indep-var
y = pd_data['주차구획수'].values   # dep-var
#print(X)
#print(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)
m = LinearRegression().fit(X_train, y_train)
print('train score ', m.score(X_train, y_train))
print('test score ', m.score(X_test, y_test))

m.predict([[0,1,2]])

train score  0.02165146603395829
test score  0.03350701561958502

array([71.0203773])

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=20)

In [17]:
m = LogisticRegression().fit(X_train, y_train)
print('train score ', m.score(X_train, y_train))
print('test score ', m.score(X_test, y_test))

train score  0.8810058374494836
test score  0.880926724137931

In [19]:
m.predict([[0]])
m.predict_proba([[0]])

array([[7.98413125e-05, 1.64211564e-04, 1.63477323e-02, 1.03889442e-04,
        2.21675567e-02, 9.61136769e-01]])

In [21]:
pd_data

       주차장구분  주차장유형  급지구분  요금정보  부제시행구분  운영요일  주차구획수         위도          경도
0          0      0     3     0       3     5     14  36.310891  127.389371
1          0      0     3     0       3     5     43  36.306733  127.384820
2          0      0     3     0       3     5     19  36.312393  127.391197
3          0      0     3     0       3     5     84  36.308676  127.390817
4          0      0     3     0       3     5     30  36.306369  127.392383
...      ...    ...   ...   ...     ...   ...    ...        ...         ...
14842      0      1     0     0       3     5     22  37.498525  128.456877
14843      0      1     0     0       3     5     26  37.493297  128.459982
14844      0      1     0     0       3     5     10  37.521537  128.451737
14845      0      1     0     0       3     5     30  37.501060  128.457081
14846      0      1     0     0       3     5     40  37.498870  128.457843

[14847 rows x 9 columns]