In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

restaurant_data = pd.read_pickle('restaurant_data.pickle')
covid19_data = pd.read_pickle('covid19_data.pickle')
delivery_data = pd.read_pickle('delivery_data.pickle')

# print('=' * 20, '코로나데이터','=' * 20)
# print(covid19_data)
# print('=' * 20, '배달데이터','=' * 20)
# print(delivery_data)

In [19]:
print('<', '음식점데이터','>', '\n')
print(restaurant_data)

print('\n', '-데이터 탐색-')
print('데이터의 행과 열 개수: ', restaurant_data.shape)
print('데이터의 타입:', '\n', restaurant_data.dtypes)
print('')

< 음식점데이터 >

        상세영업상태명      인허가일자       폐업일자    소재지        좌표정보(x)        좌표정보(y)
0            폐업 2022-05-17 2022-09-01  서울특별시  199367.405973  452186.669075
1            폐업 2022-05-27 2022-06-16  서울특별시  205210.358779  445154.422252
2            폐업 2022-05-19 2022-06-21    경기도  166869.952051  460435.546268
3            폐업 2022-04-28 2022-06-10   경상남도  344083.703365  194336.148846
4            폐업 2022-05-24 2022-06-06    강원도  366964.031622  473505.518622
...         ...        ...        ...    ...            ...            ...
2024652      영업 2012-01-19        NaT  광주광역시  192085.702260  182111.703093
2024653      영업 2014-06-12        NaT  광주광역시  190363.418899  181905.028328
2024654      영업 2014-03-21        NaT  광주광역시  188322.201767  183130.570776
2024655      영업 2014-03-19        NaT  광주광역시  188873.020499   184152.82843
2024656      영업 2014-05-08        NaT  광주광역시  187771.639116  179969.196777

[2024657 rows x 6 columns]

 -데이터 탐색-
데이터의 행과 열 개수:  (2024657, 6)
데이터의 타입:
 상세영업상태명            object
인허가일자      datetime64[ns]
폐업일자       datetime64[ns]
소재지                object
좌표정보(x)           float64
좌표정보(y)            object
dtype: object

In [7]:
#기초 통계치 도출 describe()#
#sns.pairplot(df) 전체적인 플롯#

count     2024657
unique          2
top            폐업
freq      1333020
Name: 상세영업상태명, dtype: object
               신규확진자
count    1016.000000
mean    24681.337598
std     66838.047221
min         0.000000
25%       125.000000
50%       708.000000
75%      7438.750000
max    621328.000000
         배달      이용여부 예/아니요 퍼센테이지
count    16        16    16    16
unique    2         1     2    16
top     배달앱  이용여부 (%)     예   7.6
freq      8        16     8     1