In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd_data = pd.read_csv('Restaurant_information.csv', encoding='cp949')
print(pd_data.columns)

C:\Users\home\AppData\Local\Temp\ipykernel_47392\3831128144.py:5: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_data = pd.read_csv('Restaurant_information.csv', encoding='cp949')

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [2]:
data1 = pd_data['영업상태명']
data2 = pd_data['상세영업상태명']

print(data1.unique())
print('--------------------------')
print(data1.count)

print('=====================================================')

print(data2.unique())
print('--------------------------')
print(data2.count)

print('=====================================================')

data3 = pd_data['인허가일자']
print(data3.unique())

['폐업' '영업/정상']
--------------------------
<bound method Series.count of 0             폐업
1             폐업
2             폐업
3             폐업
4             폐업
           ...
2024652    영업/정상
2024653    영업/정상
2024654    영업/정상
2024655    영업/정상
2024656    영업/정상
Name: 영업상태명, Length: 2024657, dtype: object>
=====================================================
['폐업' '영업']
--------------------------
<bound method Series.count of 0          폐업
1          폐업
2          폐업
3          폐업
4          폐업
           ..
2024652    영업
2024653    영업
2024654    영업
2024655    영업
2024656    영업
Name: 상세영업상태명, Length: 2024657, dtype: object>
=====================================================
[20220517 20220527 20220519 ... 20170115 19540328 19991024]

In [ ]:
pd_data2 = pd.read_csv('covid19_data.csv')
print(pd_data2.columns)


c_data1 = pd_data2['New_cases']
print(c_data1)
c_data2 = pd_data2['Country']
print(c_data2)
c_data3 = pd_data2['Date_reported']
print(c_data3)

In [13]:
df1= pd.DataFrame(c_data3)
df1['Country']= c_data2
df1['New_cases'] = c_data1
# df1 = df1.reset_index()
# df1.append(c_data2)
# df2 = df1.append(c_data1)

print(df1)

       Date_reported      Country  New_cases
0         2020-01-03  Afghanistan          0
1         2020-01-04  Afghanistan          0
2         2020-01-05  Afghanistan          0
3         2020-01-06  Afghanistan          0
4         2020-01-07  Afghanistan          0
...              ...          ...        ...
240787    2022-10-10     Zimbabwe         94
240788    2022-10-11     Zimbabwe          0
240789    2022-10-12     Zimbabwe         49
240790    2022-10-13     Zimbabwe         29
240791    2022-10-14     Zimbabwe          0

[240792 rows x 3 columns]

In [ ]:
pd_data = pd.read_csv('Delivery service_data.csv', encoding='cp949')
print(pd_data.columns)