In [ ]:
import mariadb
import sys

conn = mariadb.connect(
    user="toor",
    password="toor",
    host="192.168.7.174",
    port=3306,
    database="chinook"
)

cur = conn.cursor()
sql = "select count(customers.customerid), customers.supportrepid, employees.lastname, employees.firstname \
    from customers \
    join employees on customers.supportrepid = employees.employeeid \
    group by customers.supportrepid;"
cur.execute(sql)
for c in cur:
#     print(c)

In [ ]:
with open('iris.data', 'r') as f:
    raw = f.readlines()
# print(raw)

data = []
for r in raw[:-1]:
    t = []
    for i in r.split(',')[:4]:
        t.append(float(i))
    data.append(t)
# print(data)

conn = mariadb.connect(
    user="toor",
    password="toor",
    host="192.168.7.174",
    port=3306,
    database="chinook"
)

cur = conn.cursor()
for index, d in enumerate(data):
    sql = "insert into iris(id, sepal_len, sepal_w, petal_len, petal_w) \
        values({},{},{},{},{})".format(index + 1, d[0],d[1],d[2],d[3])
#     print(sql)
    cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("c:\sqlite\chinook.db")

cur = conn.cursor()
resp = cur.execute("select * from albums limit 5;")
for c in resp:
    print(c)

In [ ]:
with open('iris.data', 'r') as f:
    raw = f.readlines()
# print(raw)

data = []
for r in raw[:-1]:
    t = []
    for i in r.split(',')[:4]:
        t.append(float(i))
    data.append(t)
# print(data)

conn = sqlite3.connect("c:\sqlite\chinook.db")

cur = conn.cursor()
for index, d in enumerate(data):
    sql = "insert into iris(id, sepal_len, sepal_w, petal_len, petal_w) \
        values({},{},{},{},{});".format(index + 1, d[0],d[1],d[2],d[3])
    cur.execute(sql)
conn.commit()
conn.close()