In [ ]:
n = 3 
m = 5

print(n == m) #같은가
print(n > m)  #큰가
print(n <= m) # 작거나 같은가
print(n != m) #같지않은가
# bool타입으로 결과가 나옴 True / False

In [ ]:
if n == m:
  print("두 값이 같습니다.")
else :
  print("두 값이 다릅니다.")

if n >= m: #if elif는 순서대로 참인 경우에서 빠져나감 참 이후의 조건은 무시
  print("n이 m보다 작거나 같습니다.")
elif n % 3 == 0:
  print("n은 3의 배수입니다.")
else :
  print("마지막 else.")

In [ ]:
x = [1, 2, 3]

if 3 in x:
  print("리스트에 3이 있습니다.")

if 5 not in [3, 2, 1]:
  print("리스트에 5가 없습니다.")

In [ ]:
n = 3
y = {1, 2, 3}

while n > 0:
  print(n)
  n = n - 1

while 3 in y:
  print('3이 세트 y에 있습니다.')
  break # y.remove(3)

In [ ]:
x = [1, 2, 3, 4, 5]
z = []

for n in x:
 z.append(n ** 2)  #x리스트의 인덱스개수만큼 반복하여 값을 n으로 가져와서 z리스트에 제곱하여 추가한다. 
  
print(z)

In [ ]:
x = [3, 5]
z = []

for n in x:
  z.append(n ** 2)

print(z)

In [ ]:
x = [1, 2, 3, 4, 5]
z = [n ** 2 for n in  x] # 인라인함수 --> n안에 x를 넣는데 n은 2의 제곱이다.

print(z)