In [1]:
import pandas as pd
import numpy as np

np_rng = np.random.default_rng()

In [16]:
# concat : concatenate
s1 = pd.Series(np.arange(10,20), index = list('abcdefghij'))
s2 = pd.Series(np.arange(100,110), index = list('bcdefghijk'))

# print(s1)
# print(s2)

s3 = pd.concat((s1, s2), axis=1, join='outer')  # concat: 길이로 붙여줌(기본값), axis=1사용시 옆으로 붙여짐 # database에 join
# print(s3)
# print(type(s3))

s4 = s1.to_frame()
print(s4)
print(type(s4))
print(s4.T)    # 가로 세로 변경

    0
a  10
b  11
c  12
d  13
e  14
f  15
g  16
h  17
i  18
j  19
<class 'pandas.core.frame.DataFrame'>
    a   b   c   d   e   f   g   h   i   j
0  10  11  12  13  14  15  16  17  18  19

In [23]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5,3)), index = list('abcde'), columns=['S1','S2','S3'])
df2 = pd.DataFrame(np_rng.integers(-50,-10,(5,3)), index = list('bcdef'), columns=['S1','S2','S3'])
# print(df1)
# print(df2)
df3 = pd.concat([df1, df2], axis=1, join='inner')
print(df3)

   S1  S2  S3  S1  S2  S3
b  31  22  43 -34 -41 -15
c  23  17  20 -33 -41 -41
d  27  27  40 -29 -44 -19
e  12  17  28 -20 -45 -46

In [53]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5,3)), index = list('abcde'), columns=['S1','S2','S3'])
# print(df1)

s10 = pd.Series(np_rng.integers(-10,10,5), index=list('abcde'))
# print(s10)

# df1['S4'] = s10
# print(df1)

# df10 = pd.concat([df1, s10.to_frame()], axis=1)
# print(df10)

df1.insert(1, 'S5', s10)
# print(df1)

df1.insert(3, 'S10', s10+100)
print(df1)

print('----------------------------------------')

print(df1.drop(['S2', 'S3'], axis=1, inplace=True))  # inplace : 원본에서 시행 --> 카피 반환값은 없으나 원본이 수정됨
print('----------------------------------------')
print(df1.drop(['b','d']))
print('----------------------------------------')
print(df1)
print('----------------------------------------')

s11 = pd.Series(np_rng.integers(-10,10,3), index=['S1','S5','S10'])
print(s11)
print(s11.to_frame())
df11 = pd.concat([df1, s11.to_frame().T], axis=0)
print(df11)

   S1  S5  S2  S10  S3
a  18  -8  49   92  49
b  29   5  28  105  48
c  36   8  45  108  31
d  24   0  24  100  21
e  19   1  15  101  25
----------------------------------------
None
----------------------------------------
   S1  S5  S10
a  18  -8   92
c  36   8  108
e  19   1  101
----------------------------------------
   S1  S5  S10
a  18  -8   92
b  29   5  105
c  36   8  108
d  24   0  100
e  19   1  101
----------------------------------------
S1    -2
S5     1
S10   -4
dtype: int64
     0
S1  -2
S5   1
S10 -4
   S1  S5  S10
a  18  -8   92
b  29   5  105
c  36   8  108
d  24   0  100
e  19   1  101
0  -2   1   -4

In [66]:
s1 = pd.Series(np.arange(10,20), index=list('abcdefghij'))
s1 = s1.reindex(list('abcdefghijk'))
# print(s1)
# print(s1.hasnans)    # 시리즈 안에 nan이 하나라도 있으면 True 반환, 없으면 False 반환
# print(s1.isna())     # 값 하나하나가 nan인지 True, False로 표시
# print(s1[s1.isna()]) # nan이 있는 값만 불러옴
# print(s1.dropna())     # nan 값 제외
# s1[s1.isna()] = -1.0   # nan값을 -1로
# s1.fillna(-1.0)
s1.replace(np.NaN, -1.0, inplace=True)
s1.replace(19.0, -19.0, inplace=True)
print(s1)

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
f    15.0
g    16.0
h    17.0
i    18.0
j   -19.0
k    -1.0
dtype: float64

In [73]:
s1.replace(-19.0, 10.0, inplace=True)

print(s1)
# print(s1.describe())
# print(s1.unique())        # set이랑 같음
print(s1.value_counts())  # 유니크한 값 - 카운트

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
f    15.0
g    16.0
h    17.0
i    18.0
j    10.0
k    -1.0
dtype: float64
 10.0    2
 11.0    1
 12.0    1
 13.0    1
 14.0    1
 15.0    1
 16.0    1
 17.0    1
 18.0    1
-1.0     1
dtype: int64

In [85]:
s1 = pd.Series([1,2,3], list('abc'), dtype=int)
s2 = pd.Series([10, 20, 30, 40], list('abcx'), dtype=int)
df1 = pd.DataFrame({'S1':s1, 'S2':s2})
print(df1)

for s in df1:
    print(s, df1[s].hasnans)
    
print(df1.isna())
print(df1.fillna(-1.0, inplace=True))
print(df1)
print(df1.dropna())

    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x  NaN  40
S1 True
S2 False
      S1     S2
a  False  False
b  False  False
c  False  False
x   True  False
None
    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x -1.0  40
    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x -1.0  40