In [5]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.23.1

In [7]:
s1 = pd.Series(5)
print(s1)
# print(type(s1))

s2 = pd.Series('a')
print(s2)

0    5
dtype: int64
0    a
dtype: object

In [10]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

s1 = pd.Series(np.array(list1))
print(s1)

list3 = list1 + list2
print(list3)
print(np.array(list3))

s2 = pd.Series(list3)
print(s2)

0    1
1    2
2    3
dtype: int32
[1, 2, 3, 'a', 'b', 'c']
['1' '2' '3' 'a' 'b' 'c']
0    1
1    2
2    3
3    a
4    b
5    c
dtype: object

In [16]:
# 파이썬의 내장 함수 zip()은 iterable, 즉 순회 가능한 객체를 인자로 받고 각 자료형의 각각의 요소를 나눈 후 인덱스끼리 잘라서 리스트로 반환해줍니다. 
# 여기서 말하는 iterable 자료형은 파이썬에서 리스트, 튜플 같은 반복 가능한 자료형을 의미

for i in zip(list2, list1):
    print(i)

d1 = dict(zip(list2, list1))
print(d1)

s1 = pd.Series(d1)
print(s1)

('a', 1)
('b', 2)
('c', 3)
{'a': 1, 'b': 2, 'c': 3}
a    1
b    2
c    3
dtype: int64

In [15]:
s1 = pd.Series(list1, index=list2)
print(s1)

a    1
b    2
c    3
dtype: int64

In [17]:
s1 = pd.Series(list1, index=['1월', '2월', '3월'])
print(s1)

1월    1
2월    2
3월    3
dtype: int64

In [22]:
s1 = pd.Series(data=list1, index=list('bca'))
print(s1)
print(s1.index)
print(s1.reindex(list('abcx')))

b    1
c    2
a    3
dtype: int64
Index(['b', 'c', 'a'], dtype='object')
a    3.0
b    1.0
c    2.0
x    NaN
dtype: float64

In [27]:
s1 = pd.Series([1,2,3], ['a','b','c'])
print(s1)
a1 = s1.to_numpy()
print(a1)
print(type(a1))

list4 = s1.index
print(list4)
print(type(list4))

for i in list4:
    print(i)

a    1
b    2
c    3
dtype: int64
[1 2 3]
<class 'numpy.ndarray'>
Index(['a', 'b', 'c'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
a
b
c

In [28]:
print(s1)
s1.index = ['x', 'y', 'z']
print(s1)

a    1
b    2
c    3
dtype: int64
x    1
y    2
z    3
dtype: int64

In [30]:
s1 = pd.Series([1,2,3], list('abc'))
s2 = pd.Series([30,20,10], list('bcd'))
print(s1)
print(s2)
print(s1 + s2)

a    1
b    2
c    3
dtype: int64
b    30
c    20
d    10
dtype: int64
a     NaN
b    32.0
c    23.0
d     NaN
dtype: float64

In [33]:
a1 = np.arange(6).reshape((3,2))
print(a1)
df1 = pd.DataFrame(a1, index=list('abc'), columns=list('xy'))
print(df1)

[[0 1]
 [2 3]
 [4 5]]
   x  y
a  0  1
b  2  3
c  4  5

In [39]:
s1 = pd.Series([1,2,3], list('abc'))
s2 = pd.Series([30,20,10], list('bcd'))
# df1 = pd.DataFrame([s1,s2])
df1 = pd.DataFrame({'S1':s1, 'S2':s2})
print(df1)
df1.index = ['i1', 'i2', 'i3', 'i4']
df1.columns = ['x', 'y']
print(df1)

    S1    S2
a  1.0   NaN
b  2.0  30.0
c  3.0  20.0
d  NaN  10.0
      x     y
i1  1.0   NaN
i2  2.0  30.0
i3  3.0  20.0
i4  NaN  10.0

In [52]:
s1 = pd.Series(np.arange(5, 11), list('abcdef'))
print(s1)
# print(s1[3])
# print(s1[1:5:2])
# print(s1%2 == 0)
# print(s1[s1%2 == 0])
# print(s1.where(s1%2 == 0))
# print(s1[s1>7])
# print(s1.where(s1>7))
# print(s1['c'])

# print(s1['x'])
# print(s1.get('x'))
print(s1['b':'e':2])

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int32
b    6
d    8
dtype: int32

In [58]:
# iloc, loc # 행번호(row number)로 선택하는 방법, label이나 조건표현으로 선택하는 방법
s1 = pd.Series(np.arange(5, 11), list('abcdef'))
print(s1)

# print(s1.iloc[4])
# print(s1[4])      # 같음
# print(s1.iloc[1:4:2])
# print(s1.loc[s1>7])
# print(s1.loc['b'])
print(s1.loc['b':'e':2])

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int32
b    6
d    8
dtype: int32

In [85]:
a1 = np.arange(30).reshape((6,5))
df1 = pd.DataFrame(a1, index=list('abcdef'), columns=list('mnxyz'))
print(df1)

# x = df1['x']   # 시리즈 형태  # column
# x = df1[['z','x']]  # 데이터프레임 형태  # column
# x = df1['a':'c']  # index
# print(type(x))
# print(x)

# df1.loc['c']  # index
# print(df1.loc['b' : 'e'])
# print(df1.loc[:, ['m', 'x']])
# print(df1.loc[:, 'm':'y'])
# print(df1.iloc[:, 0:4])

x = df1.loc[:, 'm']
print(type(x))
print(x)

    m   n   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24
f  25  26  27  28  29
<class 'pandas.core.series.Series'>
a     0
b     5
c    10
d    15
e    20
f    25
Name: m, dtype: int32