In [1]:
import mariadb
import sys

conn = mariadb.connect(user="toor",
                       password="toor", host="192.168.7.174",
                       port=3306, database="chinook")
cur = conn.cursor()
cur.execute("select * from albums limit 5;")
for c in cur:
    print(c)

(1, 'For Those About To Rock We Salute You', 1)
(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)

In [2]:
import sqlite3

conn = sqlite3.connect("c:\sqlite\chinook.db")

cur = conn.cursor()
sql = "select count(customers.customerid), customers.supportrepid, \
        employees.LastName, employees.FirstName \
        from customers \
        join employees on customers.supportrepid = employees.employeeid \
        group by customers.supportrepid;"
resp = cur.execute(sql)
for c in resp:
    print(c)
    
conn.close()

(21, 3, 'Peacock', 'Jane')
(20, 4, 'Park', 'Margaret')
(18, 5, 'Johnson', 'Steve')

In [3]:
with open('iris.data','r') as f:
    raw = f.readlines()

data=[]
for r in raw[:-1]:
    t = []
    for n in r.split(',')[:4]:
        t.append(float(n))
    data.append(t)
#print(data)

conn = sqlite3.connect("c:\sqlite\chinook.db")

cur = conn.cursor()
for index, d in enumerate(data):
    sql = "insert into iris(id, sepal_len, sepal_w, petal_len, petal_w)\
    values({},{},{},{},{});".format(index+1, d[0],d[1],d[2],d[3])
    cur.execute(sql)
#resp = cur.execute(sql)
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: iris.id